<h1 class="jumbotron text-center" style="background-color:lightsalmon">
  Scrape your News!
</h1>

<div class="container">
    {{#each stories}}
      <div class="row well">
        <div class="col-sm-9" style="background-color:cyan">
          {{this.title}}
          <br>
          <a href={{this.link}}>{{this.link}}</a>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-sm btn-info" data-id="{{this._id}}">
            Add Note
          </button>
          <button class="btn btn-sm btn-danger" data-id="{{this._id}}">
            Delete
          </button>
          {{#if this.notes}}
            <button class="btn btn-sm btn-secondary" data-id="{{this._id}}">
              View Notes
            </button>
          {{/if}}
        </div>
      </div> 
    {{/each}} 
</div>


